// ---------------------------------  
// ---------------------------------

function Main.main 0

push constant 0 // coloca 0 no topo da pilha
pop temp 2 // coloca o 0 no temp 2 para usar ele como contador
push constant 0 // coloca 0 no topo da pilha
push constant 1 // coloca 1 no topo da pilha
label loop 
pop temp 1 // coloca o que está no topo da pilha no temp 1 (começa colcando o 1)
pop temp 0 // coloca o que está no topo da pilha no temp 0 (começa colcando o 0)
push temp 0 // coloca o temp 0 no topo da pilha
push temp 1// coloca o temp 1 no topo da pilha
push temp 0 // coloca o temp 0 no topo da pilha
push temp 1 // coloca o temp 1 no topo da pilha
add // temp 0 + temp 1
push temp 2 // coloca o temp 2 no topo da pilha (contador)
push constant 1 // coloca 1 no topo da pilha
add  // contador += 1
pop temp 2 // salva o novo valor do contador em temp 2 novamente
push temp 2 // coloca o temp 2 (contador) no topo da pilha
push constant 9 // coloca 9 no topo da pilha 
lt // verifica se contador<9, se sim o loop se repete
// o valor verificado é 9 pois antes do loop já são colocados os 2 primeiros valores 0 e 1
if-goto loop


// nao deve tirar isso!
label while2
    goto while2
